a:link {
    color: rgb(235, 20, 20);
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: rgb(133, 0, 0);
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: rgb(55, 0, 0);
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: rgb(222, 10, 70);
    background-color: transparent;
    text-decoration: underline;
}
body{
    background-color: rgb(213, 239, 243);
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    font-size: medium;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h4{
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large ;
    text-align: center;
}
#C2{
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large ;
    text-align: center;
}
#logo_link{
    height: 60px;width: 80px;
}
#lg1{
    background-color:tomato ;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
#lg2{
    background-color:orange ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
#lg3{
    background-color:yellow ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
#lg4{
    background-color:mediumseagreen ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
#lg5{
    background-color:dodgerblue ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
#lg6{
    background-color:slateblue ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
address{
    text-align: center;
}
li{
    color: blue;
}
img{
    width: 400px;height: 200;
}
table, th, td {
    border: 1px solid black;
  }
.note{
    font-size:120%;
    color: red;
  }
div {
    background-color: orange;
  }
table{
    width: 100%;
  }
span{
    border: 1px solid black;
}